//COLORS

$color-primary:#3b5998 ;
$color-primary-light:#4267b2;
$color-primary-dark:#133783 ;

/*
$color-secondary-light: ;
$color-secondary-dark: ;


$color-tertiary-light: ;
$color-tertiary-dark: ;
*/

$color-white: #fff;
$color-black: #000;
$color-blue-1: #D3D8E8;


//FONT

$default-font-size: 0.75rem; //12px


//GRID 
$grid-width: 135.8rem; //1360px / 10 = 135.8rem
$gutter-vertical:8.2rem; //82px
$gutter-vertical-primary: 64rem; //640px / 10 = 64rem
