body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    
}

.heading-primary {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}