
.box-input {
    display: flex;
    color: $color-black;
    align-items: center;
   
  
    &_Login {
      height: 23px;
      width: 150px;
      border: solid 1px $color-black;
      outline: none;
      margin-left: 14px;


    }  
  
  &--small {
    width: 392px;
    height: 65px;
    font-size: 10px;
  
  }
  &--marginTop-Small {
    margin-top: 7px;
  }
    
  }
  
  .box-inputLabelTop {
    font-family: "Red Rose", cursive;
    font-weight: 400;
    position: absolute;
    height: 15px;
    width: 270px;
    top: 10px;
    right: 140px;
    display: flex;
    justify-content: space-around;
  
    &_label {
      color: $color-white;
      font-size: 12px;
    }
  }
  
  .box-inputLabelBottom {
    position: absolute;
    height: 18px;
    width: 124px;
    top: 52px;
    right: 81px;
    display: flex;
    margin-top: 5px;
  
    &_label {
      font-family: "Red Rose", cursive;
      font-weight: 400;
      color: #9cb4d8;
      font-size: 12px;
    }
  }